<nav class="breadcrumb" aria-label="breadcrumbs">
  <ul>
    <li><a href="/">Home</a></li>
    {% assign url_parts = page.url | split: '/' %}
    {% assign current_path = '' %}
    {% for part in url_parts %}
      {% if part != '' %}
        {% assign current_path = current_path | append: '/' | append: part %}
        <li {% if forloop.last %}class="is-active"{% endif %}>
          {% assign matching_page = collections.all | where: "url", current_path | first %}
          {% if matching_page %}
            <a href="{{ matching_page.url }}" {% if forloop.last %}aria-current="page"{% endif %}>
              {{ matching_page.data.title }}
            </a>
          {% else %}
            <a href="{{ current_path }}" {% if forloop.last %}aria-current="page"{% endif %}>
              {{ part | capitalize | replace: '-', ' ' }}
            </a>
          {% endif %}
        </li>
      {% endif %}
    {% endfor %}
  </ul>
</nav>
