<section class="hero is-info is-medium">
  <div class="hero-head">
  </div>
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column is-one-third">
          <p class="title is-size-2">Log and treat software vulnerabilities in one place</p>
          <p class="is-size-4">Vulnlog is an open-source tool and DSL for documenting software
            vulnerabilities and integrating vulnerability reporting and management into your
            development workflow.</p>
          <div class="mt-5">
            <a href="/getting-started/" class="button is-primary">Getting Started</a>
          </div>
        </div>
        <div class="column">
          <img src="media/Hero.png" alt="Transform the Vulnlog DSL to Vulnlog HTML report"/>
        </div>
      </div>
    </div>
  </div>
</section>
